* {
margin: 0;
padding: 0;
box-sizing: border-box;
} 

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

/**************************** Top Navbar work******/

.top-nav {
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.top-nav img{
    padding: 0.5rem;
    max-width: 80px;
  
}

.top-nav h1 {
    padding: 0.5rem;
    font-size: 2.4rem;
    text-shadow: 4px 4px 10px;
    color: rgb(137, 181, 219);
    font-family: 'Baloo 2', cursive;
}

/**************************** bottom Navbar work******/

.bottom-nav {
    padding: 0.4rem;
    border-top: 1.6vw solid rgb(236, 154, 236);
    border-radius: 3vw;
    border-bottom: 2px solid rgb(236, 154, 236) ;
    border-right: none;
    border-left: none;

} 


.bottom-nav ul  {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
       
}

.bottom-nav ul li  {
    padding: 0.4rem;

}

.bottom-nav ul li a {
    font-size: 1.3rem;
    padding: 0.4rem;
    text-decoration: none;
    color: rgb(36, 126, 204);      

}
.bottom-nav ul li a:hover {

    background-color: rgb(143, 207, 236);
    border-radius: 8px;
    color: black;
}

/**************Container1 work here *****/

.container1 {
   padding-top: 3%;
   display: flex;
   justify-content: space-around;
   align-items: center;


}

.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0.5vw 0.4vw 0.4vw rgb(218, 232, 243);
    max-width: 100%;
}


.container1 h1, h3{
    font-size: 2vw;
    padding: 0.3vw;
    left: 1vw;
    color: rgb(137, 181, 219);
    font-family: 'Baloo 2', cursive;    
}

.phara {
   max-width: 50%;
   padding-bottom: 2rem;
}

.phara p {
    color: rgb(0, 0, 0);
    font-family: 'Baloo 2', cursive;
    text-align: center;
    font-size: 1.5vw;

    
}

.come {
    color: red;
}

/************container2 work here *****/
.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    
}
.box {
    box-shadow: 0.4vw 0.4vw rgb(227, 232, 236);
    /* margin:0.5vw auto 0 auto; */
    padding: 3vw;
    font-size: 1.5vw;
    text-align: center;
    display: inline-block;
    margin-left: 3vw;
    border-radius: 5vw;
    
}
.box img {
    width: 5vw;
}
.box h4 {
    margin-top: 0.3vw;
    margin-bottom: 1.3vw;
    text-shadow: 3px 5px 5px ;
}

.box .arrow{

    width: 2vw;
    display: flex;
    padding-top: 2vw;
}
.box{
    animation: mymove 1000s infinite;
    transition: transform 1s;
}


.box:hover{
    animation: mymove1 5s infinite;
    transform: scale(1.05);
}

@keyframes mymove {
    0% { box-shadow: 1vw 2vw 3vw rgb(221, 134, 221);
    
    }
}
@keyframes mymove1 {
    15% { box-shadow: 1vw 2vw 3vw rgb(82, 109, 168);
    
    }
}

/**************Container3 work here *****/

.container3 {
    margin-top: 3rem;
    display: flex;
    width: 98.8vw;
    font-family: 'Baloo 2', cursive;
}


.container3 img {
    width: 25vw;
    margin-left: 10vw;

}

.container3 p {
    width: 50vw;
    height: 10vw;
    margin: 7vw 0 auto 7vw;
    font-size: 1.7vw;
}

/**************Container4 work here *****/

.container4 {
    flex-direction: row-reverse;
    display: flex;
    width: 98.8vw;
    font-family: 'Baloo 2', cursive;
}


.container4 img {
    width: 25vw;
    margin-left: 10vw;

}

.container4 p {
    width: 50vw;
    height: 10vw;
    margin: 7vw 0 auto 7vw;
    font-size: 1.7vw;
}


/**************Container4 work here *****/


.container5 {
    display: block;
    width: 98.8vw;
    height: 35vw;
    text-align: center;
    flex-direction: column;
    font-family: 'Baloo 2', cursive;

} 

.container5 img {
    width: 20vw;
    padding-top: 2vw;
}

.container5 h3 {
    color: black;
    font-size: 3vw;
}

.container5 p {
    color: black;
    font-size: 1.7vw;
}




/************footer work here ***********/

footer {
    margin-top: 6%;
    background: linear-gradient(
      90deg,
      hsla(291, 79%, 51%, 1) 0%,
      hsla(240, 91%, 73%, 1) 100%
    );
  
    background: -moz-linear-gradient(
      90deg,
      hsla(291, 79%, 51%, 1) 0%,
      hsla(240, 91%, 73%, 1) 100%
    );
  
    background: -webkit-linear-gradient(
      90deg,
      hsla(291, 79%, 51%, 1) 0%,
      hsla(240, 91%, 73%, 1) 100%
    );
  
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#C621E5", endColorstr="#7D7CF9", GradientType=1);
  }
  
  .quick h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
  }
  
  .ico1 {
    font-size: 1.6rem;
    color: #ffffff;
  }
  
  .quick ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
  }
  
  .quick ul li {
    padding: 6px;
  }
  
  .shear_maintainer {
    margin-top: 3rem;
    padding-bottom: 0.6rem;
    display: flex;
    justify-content: space-between;
  }
  
  .shear {
    display: flex;
    align-items: center;
    padding: 5px;
  }
  
  .shear i {
    padding-left: 15px;
  }
  
  footer i:hover {
    scale: 170%;
    color: rgb(179, 13, 13);
    transition: 0.5s;
  }
  
  .m-logo {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  .m-logo img {
    margin: 3px;
    max-width: 35px;
  }
  
  .m-logo img:hover {
    scale: 170%;
    transition: 0.5s;
  }
  
  /* copyright & designed heading */
  
  .ms {
    color: #ffffff;
    transition: 0.5s;
    margin-right: 20px;
    text-align: center;
  }
  
  .copy {
    padding: 6px;
    background: linear-gradient(
      90deg,
      hsla(291, 79%, 51%, 1) 0%,
      hsla(240, 91%, 73%, 1) 100%
    );
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .policy {
    color: #ffffff;
    cursor: pointer;
  }
  
  .copyRight {
    color: #ffffff;
    text-align: center;
    cursor: pointer;
  }
  
  .bb {
    color: #ffffff;
    font-size: 1.3rem;
  }