@media screen and (max-width:766px) {

    .bottom-nav ul li a{

        font-size: 2.5vw;
    
    }
    

    .top-nav h1  {
        font-size: 5vw;
        margin-top: 1px;
    }
    .footer2{
        top: 210vw;
    }
}

