* {
margin: 0;
padding: 0;
} 
nav {
    position: absolute;
    height: 180px;
    width: 100%;
}
/**************************** Top Navbar work******/

.top-nav {
    box-sizing: border-box;
    height: 9vw;
    position: absolute;
    width: 100%;
}
.top-nav img{
    float: left;
    width: 8vw;
  
}

.top-nav h1 {
    
    font-size: 4vw;
    color: rgb(137, 181, 219);
    position: absolute;
    left: 10vw;
    height: 8vw;
    font-family: 'Baloo 2', cursive;
    /* font-family: 'Tangerine', cursive; */

}

/**************************** bottom Navbar work******/

.bottom-nav {
    border-top: 2vw solid rgb(236, 154, 236);
    border-radius: 3vw;
    border-bottom: 2px solid rgb(236, 154, 236) ;
    border-right: none;
    border-left: none;
    position: absolute;
    top: 10vw;
    width: 100%;
    height: 6vw;
} 


.bottom-nav ul  {
    list-style: none;
    position: absolute;
    bottom: 0.1vw;
    
}

.bottom-nav ul li  {

    margin: 0.5vw;
    padding: 2vw;
    display: inline-block;

}

.bottom-nav ul li a {
    padding: 0.7vw;
    text-decoration: none;
    color: rgb(81, 126, 165);
    font-family: 'Baloo 2', cursive;
    font-size: 1.2vw;
   

}
.bottom-nav ul li a:hover {

    background-color: rgb(143, 207, 236);
    border-radius: 10px;
    color: black;
}

/**************Container1 work here *****/

.container1 {
    position: absolute;
    top: 24vw;
    display: inline-block;
    width: 100%;


}

.container1 img {
    width: 40vw;
    left: 55vw;
    position: relative;
    bottom: 4vw;
}

.container1 h1, h3{
    font-size: 2vw;
    position: relative;
    top: 2vw;
    padding: 0.3vw;
    left: 1vw;
    color: rgb(137, 181, 219);
    font-family: 'Baloo 2', cursive;    
}
.phara {
    width: 50vw;
    height: 14vw;
    position: absolute;
    top: 12vw;
    margin-left: 4vw;
}
.phara p {
    color: rgb(0, 0, 0);
    font-family: 'Baloo 2', cursive;
    text-align: center;
    font-size: 1.5vw;

    
}

.come {
    color: red;
}
