* {
margin: 0;
padding: 0;
} 
nav {
    position: absolute;
    height: 180px;
    width: 100%;
}
/**************************** Top Navbar work******/

.top-nav img{
    float: left;
    width: 80px;
  
}

.top-nav h1 {
    
    font-size: 56px;
    color: rgb(137, 181, 219);
    position: absolute;
    left: 100px;
    height: 88px;
    font-family: 'Baloo 2', cursive;
    /* font-family: 'Tangerine', cursive; */

}

/**************************** bottom Navbar work******/

.bottom-nav {
    border-top: 20px solid rgb(236, 154, 236);
    border-radius: 30px;
    border-bottom: 2px solid rgb(236, 154, 236) ;
    border-right: none;
    border-left: none;
    position: absolute;
    top: 96px;
    width: 100%;
} 


.bottom-nav ul  {
    list-style: none;
}

.bottom-nav ul li  {

    margin: 5px;
    padding: 20px;
    display: inline-block;

}

.bottom-nav ul li a {
    padding: 7px;
    text-decoration: none;
    color: rgb(81, 126, 165);
    font-family: 'Baloo 2', cursive;

}
.bottom-nav ul li a:hover {

    background-color: rgb(143, 207, 236);
    border-radius: 10px;
    color: black;
}

/**************Container1 work here *****/

.container1 {
    position: absolute;
    top: 240px;
    display: inline-block;
    width: 100%;


}

.container1 img {
    width: 40%;
    left: 56%;
    position: relative;
    bottom: 40px;
}

.container1 h1, h3{
    position: relative;
    top: 20px;
    padding: 3px;
    left: 10px;
    color: rgb(137, 181, 219);
    font-family: 'Baloo 2', cursive;    
}
.phara {
    width: 50%;
    height: 140px;
    position: absolute;
    top: 120px;
    margin-left: 40px;
}
.phara p {
    color: rgb(0, 0, 0);
    font-family: 'Baloo 2', cursive;
    text-align: center;

    
}

.come {
    color: red;
}